<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
  RewriteCond %{HTTP_HOST} ^http://php-laravel-app.herokuapp.com/$ [NC,OR]
  RewriteCond %{HTTP_HOST} ^http://php-laravel-app.herokuapp.com/$
  RewriteCond %{REQUEST_URI} !public/
  RewriteRule (.*) /public/$1 [L]
</IfModule>
